html, body {
  margin: 0;
  width: 100%;
  height:100%;
}

 /* CSS HEX
 --lavender-pink: #f5b9d5ff;
 --charcoal: #424b54ff;
 --moonstone: #779fa1ff;
 --tomato: #ff6542ff;
 --flax: #f3de8aff;
*/

nav {
  height: 10%;
  padding: 15
}

main {
    height: 70%;
    background: linear-gradient(#f5b9d5, #ffffff);
    background-size: 200% 400%;
    animation: gradient 15s ease infinite;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

footer{
  height: 5%;
}

.impressum {
  background: linear-gradient(#f5b9d5, #ff6542);
  animation: gradientImpressum 10s ease infinite;
}

.impressum-container {
  width: 50%;
  height: 75%;
  background: red;
}

@keyframes gradientImpressum {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


p {
  line-height: 1.4em;
}

/* Position text in the middle */
.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: thick;
  border-radius: 4;
  border-color: black;
}


/* Style the tab buttons */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 20%;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #888;
  cursor: pointer;
}

/* Set default styles for tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
}

/* Style each tab content individually */
#London {background-color:red;}
#Paris {background-color:green;}
#Tokyo {background-color:blue;}
#Oslo {background-color:orange;}
#Kontakt {background-color:teal;}

canvas { border: 1px solid black; }

:popover-open {
       width: 300px;
       height: 200px;
       padding: 0 10px;
       border-radius: 10px;
       border: thick;
}

::backdrop {
   backdrop-filter: blur(3px);
}
